@model DarkAndLightSide.Models.User
@{
    ViewBag.Title = "PersonInfo";
}
@Html.Partial("_Header")

@section Header {
    
<img src="~/Content/light.jpg" stye="width:100px;"/>
    @Html.ActionLink("Light side", "Index", "Dark", new { area = "" }, new { @class = "navbar-brand" })
}


<h2>PersonInfo</h2>

<h3>Name: @Model.Name</h3>
<h3>Age: @Model.Age</h3>
<h3>Side: @Model.Side</h3>


@section Footer {
    @Html.ActionLink("Change Side", "ChangeSide", "Light", Model, null)
}