@model DarkAndLightSide.Models.User
@{
    ViewBag.Title = "PersonInfo";
}

@section Header {
@Html.Partial("_Header");
    }

@section NavBar {
    @Html.ActionLink("NavBar light button","Index", "Light", Model, new { @class = "btn btn-default" })
}
@section Body{
<h3>Name: @Model.Name</h3>
<h3>Age: @Model.Age</h3>
<h3>Side: @Model.Side</h3>
    }



@section Footer {
    @Html.ActionLink("Change Side", "ChangeSide", "Light", Model, new { @class = "btn btn-warning" })
}