<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Task with attributes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        
        @using (Html.BeginForm("Add-User", "Customer", FormMethod.Post))
            {
            <button class="btn btn-info">Add</button>
        }
        @Html.ActionLink("Show Users", "User-List", "User", null, new { @type = "button", @class = "btn btn-info", @style = "margin:10px 0px" })<br>
        @using (Html.BeginForm("User-List", "Customer", FormMethod.Post))
            {
            <button class="btn btn-info">Show as Json</button>
        }
        @Html.ActionLink("Home Page", "Index", "Home", null, new { @type = "button", @class = "btn btn-primary", @style = "margin-top:10px" })<br>
        @Html.ActionLink("Error page", "Asdsa", "Customer", null, new {@type = "button", @class = "btn btn-danger", @style = "margin-top:10px"})<br>
        @Html.ActionLink("Delete last user", "Delete", "Admin", null, new { @type = "button", @class = "btn btn-warning", @style = "margin-top:10px" })<br>
        @RenderBody()
        <hr />
        <footer>
            
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>