@model Models.Models.Person

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Personal Info</legend>
        <div>
            <label>First Name:</label> @Html.Editor("FirstName")
        </div>
        <div>
            <label>Last Name:</label> @Html.Editor("LastName")
        </div>
    </fieldset>
    <div>
        <label>Role:</label> @Html.Editor("Role")
    </div>
    <div>
        <label>Birth Date:</label> @Html.Editor("BirthDate")
    </div>
    <fieldset>
        <legend>Address</legend>
        <div>
            <label>City: </label>@Html.Editor("City")
        </div>
        <div>
            <label>Country: </label>@Html.Editor("Country")
        </div>
        <div>
            <label>Line1: </label>@Html.Editor("Line1")
        </div>
        <div>
            <label>Line2: </label>@Html.Editor("Line2")
        </div>
        <div>
            <label>Postal Code: </label>@Html.Editor("PostalCode")
        </div>
    </fieldset>

    <button type="submit">Submit</button>
}